#project {
    padding-bottom: 5px;
}


@media screen and (max-width: 900px) {
    #left-side-bar {
        display: none;
        padding-bottom: 30px;
        overflow-y: scroll;
    }

    #thermosphere-page {
        margin-left: 0px; 
    }
    
    #tpid-menu-button-2 {
        display: none;
    }

    #plots-container {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .TOC {
        display: none;
    }

    #content {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

    };

    #therm-main-menu-button {
        display: block;
        /* background-color: #e59b1c;
        position: fixed; 
        bottom: 20px;
        left: 20px;
        z-index: 10;
        width: 60px;
        height: 60px;
        border-radius: 10px; */
    }

    #close-main-menu {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        background-color: white;
    }

    #thermosphere-main-plot-title {
        z-index: 3;
        position: relative;
        top: 50px;
        left: 10px;
    }
    
    #bench-main-plot-title {
        z-index: 3; 
        position: relative;
        top: 50px;
        left: 10px;
    }     

    #bench-main-stats {
        display: none;
    }

    #bench-plots {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #thermo-footer {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (min-width: 900px) {
    #left-side-bar {
        display: block;
    }

    #thermosphere-page {
        margin-left: 370px;
    }
    
    #tpid-menu-button-2 {
        display: block;
    }

    #plots-container {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .TOC {
        display: block;
    }

    #content {
        background-color: white;
        margin-left: 225px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-radius: 10px;

        position: relative;
        bottom: 258px;

        /* border: 2px solid black; */
    }

    #therm-main-menu-button {
        display: none;
    }

    #close-main-menu {
        display: none;
    }

    #thermosphere-main-plot-title {
        z-index: 3;
        position: relative;
        top: 50px;
        left: 120px;
    }

    #bench-main-plot-title {
        z-index: 3; 
        position: relative;
        top: 50px;
        left: 160px;
    }     
    
    #bench-main-stats {
        display: block;
    }

    #bench-plots {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #thermo-footer {
        width: 80%;
        margin-left: 20%;
    }
}

#left-side-bar {
    z-index: 21; 
    width: 370px;
    background-color: white;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top: 0px;
}

/*
DATA SELECTION MENU
*/


#data-selection {
    height: 100%;
    width: 340px;
    overflow-y: hidden;
    padding-right: 10px;
    padding-left: 20px;
}

#satellite-description-popup {
    background-color: #f4f6f7;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 370px;
    height: 100%;
    z-index: 5;
    overflow-y: auto;
}

#satellite-desc-x-button {
    position: absolute;
    top: 10px;
    left: 332px;
}

#satellite-desc-x-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#satellite-labels {
    position: absolute;
    top: 353px;
    left: 33px;
}

#model-labels {
    position: absolute;
    top: 507px;
    left: 33px;
}

.checklist-label {
    margin-left: 5px;
    border-radius: 5px;
    display: flex;
    width: 248px; 
    justify-content: space-between;
    text-decoration: underline 0.10em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.checklist-label:hover {
    cursor: pointer;
    text-decoration-color: rgba(0, 0, 0, 0.8);
}

.options-icon {
    width: 40px;
    display: none;
}

.checklist-label:hover .options-icon {
    display: inline-block;
}

.data-source-metadata {
    padding: 10px;
}

/*
THERMOSPHERE DESCRIPTION PAGE
*/

.accent-gray {
    background-color: #f8f8f8;
    border-left: 3px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

#description-page {
    background-color: #f4f6f7;
    padding-top: 20px;
    line-height: 1.6;
}

.TOC {
    background-color: white;
    width: 200px;
    margin: 20px;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
    position: sticky;
    top: 10px;

    /* border: 2px solid black; */
}

.TOC-link {
    text-decoration: none;
}


#challenges-list {
    background: #fff9e6;
    padding: 20px;
    border-left: 4px solid #ffeb3b;
    border-radius: 5px;
}

th, td {
    padding-right: 20px; 
}

/*
THERMOSPHERE ANALYSIS DASHBOARD AND BENCHMARK PAGES
*/

.stats {
    position: absolute;
    top: 480px;
    right: 175px;
    font-size: small;
}

.tpid-menu-button {
    background-color: #e59b1c;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #e2e2e2;
    border-radius: 20px;
    z-index: 9;
}

.tpid-menu-button:hover {
    background-color: #d18708;
    cursor: pointer;
}

#tpid-menu-button-1 {
    position: fixed;
    bottom: 70px;
    right: 20px;
}

#tpid-menu-button-2 {
    position: sticky;
    top: 10px;

    margin-left: 10px;
    margin-top: 10px;
}

#tpid-menu {
    background-color: #f1f1f1;
    width: 310px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 20;
    box-shadow: 5px 5px 10px #e2e2e2;
    padding: 10px;
    display: none;
    overflow-y: auto;
    box-shadow: 0px 0px 5px #e2e2e2;
}

#tpid-x-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.x-button {
    width: 25px;
    height: 25px;
    border-radius: 7px;
}

.x-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.x-component {
    width: 20px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 11px;
    left: 2px;
}

#x-arm1 {
    transform: rotate(45deg);
}

#x-arm2 {
    transform: rotate(315deg);
}